---
import FooterForm from "@ui/forms/FooterForm.astro";
import ContactInfo from "@common/ContactInfo.astro";

// Props for customization
const companyName = "DataNova Analytics Inc.";
const companyDescription =
  "DataNova Analytics Inc. is a leading business intelligence and analytics software company founded in 2018, with offices in Boston and Seattle.";

// Contact information for the company
const contactDetails = {
  address: "direccion de la casa 1",
  address2: "direccion de la casa 2",
  phone: "1 (833) 328-2669",
  email: "casalavadero@gmail.com",
  website: "www.datanova.com",
};

// Dynamic date for copyright display
const copyrightYear = new Date().getFullYear();

// Developer or team behind the website
const craftedBy = { name: "gulamoff", url: "https://www.gulamoff.dev/" };

// Trademark notice
const trademarkNotice =
  "Microsoft&reg; and Excel&reg; are registered trademarks or trademarks of Microsoft Corporation";
---

<footer
  class="mt-auto w-full bg-linear-to-t/oklch from-teal-200 via-transparent to-white pb-10"
>
  <div class="mx-auto mt-auto w-full max-w-[85rem] px-4 pb-10 sm:px-6 lg:px-8">
    <hr class="mb-10 border-slate-200" />

    <div class="grid grid-cols-1 gap-12 md:grid-cols-3 xl:grid-cols-5">
      <!-- LOGO -->
      <div class="col-span-1 xl:col-span-2 flex flex-col justify-center">
       <a
  class="dm-sans text-3xl sm:text-4xl md:text-5xl font-light text-slate-400 block mb-6 sm:mb-0"
  href="/"
  aria-label="Casas Vicky logo"
  translate="no"
>
  <span class="font-semibold text-teal-700">Casas</span>Vicky
</a>
      </div>

      <!-- INFO DE CONTACTO -->
      <div class="col-span-1 xl:col-span-1 flex flex-col">
        <ContactInfo {...contactDetails} />
      </div>

      <!-- MAPA RESPONSIVE -->
      <div class="col-span-1 md:col-span-2 xl:col-span-2">
        <div class="w-full aspect-[16/9] rounded-xl overflow-hidden shadow-lg">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3669.398861907045!2d-1.59145457353788!3d40.508989800018114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5db6d0830789db%3A0xb58c1be86bcb4f95!2s44367%20Bronchales%2C%20Teruel!5e1!3m2!1ses!2ses!4v1747649621794!5m2!1ses!2ses"
            width="100%"
            height="100%"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="w-full h-full"
          ></iframe>
        </div>
      </div>
    </div>

    <hr class="mb-5 mt-10 border-slate-200" />
  </div>
</footer>
