---
import BaseLayout from "@layout/BaseLayout.astro";
import ContactForm from "@/components/ui/forms/ContactForm.astro";
import type { WithContext, Thing } from "schema-dts";

const title = "Contáctanos";
const subTitle = "¿Tienes alguna pregunta? ¡Estamos aquí para ayudarte!";

const seo = {
  title: "Contact CasasVicky",
  description: "Ponte en contacto con CasasVicky para consultas, soporte y comentarios.",
};

const schema: WithContext<Thing> = {
  "@context": "https://schema.org",
  "@type": "ContactPage",
  inLanguage: "es-ES",
  "@id": Astro.url.href,
  url: Astro.url.href,
  name: "Contact CasasVicky",
  description: "Ponte en contacto con CasasVicky para cualquier consulta o soporte.",
  isPartOf: {
    "@type": "WebSite",
    url: `${Astro.site}`,
    name: "CasasVicky",
  },
};
---

<BaseLayout seo={seo} schema={schema}>
  <div class="mx-auto max-w-7xl px-4 pb-28 pt-48 sm:px-6 lg:px-8">
    <h2 class="mb-10 text-4xl font-bold text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl">
      {title}
    </h2>

    <div class="grid grid-cols-1 gap-x-10 md:grid-cols-2 lg:gap-x-16">
      <!-- Formulario -->
      <div class="rounded-xl bg-teal-400 p-8 shadow-lg">
        <ContactForm />
      </div>

       <aside class="rounded-xl border border-teal-400 p-8 text-slate-700 bg-white shadow-lg flex flex-col justify-between">
        <div>
          <h3 class="mb-6 text-2xl font-semibold text-teal-700">Datos de contacto</h3>
          <ul class="space-y-4 list-disc list-inside text-lg">
            <li><strong>Dirección Casa 1:</strong> Calle Mayor 123, Pueblo Feliz</li>
            <li><strong>Dirección Casa 2:</strong> Avenida del Sol 45, Villa Alegre</li>
            <li><strong>Teléfono:</strong> <a href="tel:+18333282669" class="text-teal-600 hover:underline">1 (833) 328-2669</a></li>
            <li><strong>Email:</strong> <a href="mailto:info@datanova.com" class="text-teal-600 hover:underline">info@datanova.com</a></li>
            <li><strong>Web:</strong> <a href="https://www.datanova.com" target="_blank" rel="noopener" class="text-teal-600 hover:underline">www.datanova.com</a></li>
          </ul>
        </div>

        <p class="mt-8 italic text-center text-teal-600 font-semibold">
          ¡Contáctanos y haremos que tu estancia sea inolvidable!
        </p>
      </aside>
    </div>
  </div>


</BaseLayout>
