---
import BaseLayout from "@/layout/BaseLayout.astro";



---


<BaseLayout>
    <section class="bg-linear-to-b/oklch from-teal-200 via-transparent to-white">

    <div class="mx-auto max-w-[85rem] space-y-8 px-4 pb-12 pt-48 sm:px-6 lg:px-8">

    <div class="max-w-6xl mb-15 mx-auto px-4 space-y-16">
    
        <!-- Casa 1 -->
        <div class="flex flex-col md:flex-row mb-35 gap-8 items-center">
          <div class="w-full md:w-1/2 h-64 bg-gray-200 flex items-center justify-center text-gray-500 text-lg">
            <img src="/CasaRural1.png" alt="Casa rural" class="rounded-xl shadow-lg w-full object-cover" />

          </div>
          
<div class="md:w-1/2 space-y-4">
          <h2 class="text-3xl font-bold text-slate-800">El Lavadero</h2>
          <p class="text-teal-600 font-semibold">Ubicada en el corazón del pueblo</p>
          <p class="text-gray-700">
Rodeada de naturaleza y con vistas a la montaña. Casa El Roble es perfecta para desconectar. Con capacidad para 6 personas, cuenta con chimenea, cocina equipada y una terraza con barbacoa. Ideal para escapadas en familia o con amigos.          </p>
          <a href="/booking1" class="inline-block bg-teal-700 text-white px-6 py-2 rounded-md hover:bg-teal-800 transition">Reservar ahora</a>
        </div>

        </div>
    
        <!-- Casa 2 -->
        <div class="flex flex-col md:flex-row-reverse mb-35 gap-8 items-center bg-gray-50 p-6 rounded-lg">
          <div class="w-full md:w-1/2 h-64 bg-gray-200 flex items-center justify-center text-gray-500 text-lg">
            <img src="/CasaRural1.png" alt="Casa rural" class="rounded-xl shadow-lg w-full object-cover" />

          </div>
          <div class="md:w-1/2 space-y-4">
          <h2 class="text-3xl font-bold text-slate-800">Casa Ricardo apartamento 1</h2>
          <p class="text-teal-600 font-semibold">Junto al río</p>
          <p class="text-gray-700">
            Apartamento luminoso, perfecto para estancias más largas. Cocina completa, zona de trabajo y acceso directo a senderos naturales.
          </p>
          <a href="/booking2" class="inline-block bg-teal-700 text-white px-6 py-2 rounded-md hover:bg-teal-800 transition">Reservar ahora</a>
        </div>
        </div>
    
        <!-- Casa 3 -->
        <div class="flex flex-col md:flex-row gap-8 items-center">
          <div class="w-full md:w-1/2 h-64 bg-gray-200 flex items-center justify-center text-gray-500 text-lg">
            <img src="/CasaRural1.png" alt="Casa rural" class="rounded-xl shadow-lg w-full object-cover" />
        </div>
          <div class="md:w-1/2 space-y-4">
          <h2 class="text-3xl font-bold text-slate-800">Casa Ricardo apartamento 2</h2>
          <p class="text-teal-600 font-semibold">Junto al río</p>
          <p class="text-gray-700">
            Apartamento luminoso, perfecto para estancias más largas. Cocina completa, zona de trabajo y acceso directo a senderos naturales.
          </p>
          <a href="/booking3" class="inline-block bg-teal-700 text-white px-6 py-2 rounded-md hover:bg-teal-800 transition">Reservar ahora</a>
        </div>
        </div>
    
      </div>
</div>
</section>


</BaseLayout>
