---
import Button from "@ui/Button.astro";

const houseData = {
  title: "Escápate a la naturaleza",
  description:
    "Sumérgete en un entorno rural único donde el tiempo se detiene. Entre paisajes de ensueño y el aire más puro, nuestras casas rurales te ofrecen el descanso que necesitas, con todas las comodidades para una estancia inolvidable.",
  description_subtitle: 
    "Desconecta del ruido. Reconecta contigo.",
};
---
<div class="max-w-7xl mx-auto px-4">
  <div class="flex flex-col lg:flex-row items-center gap-12">

    <!-- Texto a la izquierda -->
    <div class="max-w-2xl lg:w-1/2">
      <h1 class="text-balance text-4xl text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl mb-8">
        {houseData.title}
      </h1>

      <p class="font-bold text-lg text-teal-700 sm:text-xl mb-4">
        {houseData.description_subtitle}
      </p>

      <p class="text-lg font-medium text-slate-700 sm:text-xl">
        {houseData.description}
      </p>

      <Button
        
        href="#casas"
        variant="primary"
        className="mt-7 inline-flex border-none px-3.5!"
      >
        Ver casas
      </Button>
    </div>

    <!-- Imagen a la derecha -->
    <div class="lg:w-1/2">
      <img
        src="/CasaRural1.png"
        alt="Casa rural"
        class="rounded-xl shadow-lg w-full object-cover"
      />
    </div>
    
  </div>
</div>
